@import url(https://fonts.googleapis.com/css?family=Lugrasimo);
@import url(https://fonts.googleapis.com/css?family=Charm);

body {
    background-image: url(pastelbluesparkles.webp);
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: local;
    font-family: Lugrasimo, serif;
}

p {
    line-height: 200%;
}

h1, h2, h3 {
    text-align: center;
    font-family: Lugrasimo, serif;
    letter-spacing: 0.175em;
    word-spacing: 0.2em;
}

    h2::first-letter, h3::first-letter {
        font-size: 1.25em;
        font-weight: bold;
    }

h1 {
    font-size: 2.325em;
}

blockquote {
    font-style: italic;
    border-left: 1px solid #aae6ff;
    background: pink;
    padding: 5px 20px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
    border-radius: 1%;
}

.wrapper {
    display: block;
    margin: auto;
    max-width: 60%;
    position: relative;
}

.left-side {
    display: block;
    max-width: 20%;
    margin: 0;
    position: relative;
    float: left;
}

.right-side {
    display: block;
    max-width: 20%;
    margin: 0;
    position: relative;
    float: right;
}

.graphics {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    row-gap: 150px;
    max-width: 20%;
    justify-content: center;
}

.header {
    display: block;
    background-image: url("unicorn.webp");
    height: 450px;
    background-size: cover;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
    border-radius: 50%;
}

    .header h1 {
        font-size: 3.25em;
        padding-top: 150px;
        color: #743574;
    }

nav {
    margin-top: 40px;
    padding: 24px;
    text-align: center;
    font-family: Lugrasimo, serif;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    background: #ff9999;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
    border-radius: 1%;
}

.link-1 {
    transition: 0.3s ease;
    background: #ff9999;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 4px solid #ff9999;
    padding: 20px 0;
    margin: 0 20px;
}

    .link-1:hover {
        border-bottom: 4px solid #ffffff;
        padding: 6px 0;
    }

.main {
    display: block;
    color: #743574;
    position: relative;
    background: linear-gradient(#DAE2F8,#FFE1E1);
    background-size: 900px auto;
    background-position: bottom center;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
    border-radius: 1%;
    padding: 1px 50px 50px 50px;
}

/*prevent image overflow?*/
.inner img {
    max-width: 100%;
    height: auto;
}

.footer {
    display: block;
    font-size: 0.85em;
    background: #444e6f;
    line-height: 150%;
    background-color: #ffffcc;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
    border-radius: 3%;
}

    .footer a {
        color: #ffb0b0;
    }



/*
responsive stuff!!
*/

/* narrow screen, just narrows column */
@media(max-width:1050px) {
    .wrapper {
        width: 65%;
    }

    nav1 {
        margin-left: 600px;
    }

    .left-side {
        width: 17.5%;
    }

    .right-side {
        width: 17.5%;
    }
}

/*For smallest screens, switch to percentage-based width, and move the side tab buttons to the space under the header as centered buttons.*/
@media(max-width:900px) {
    .wrapper {
        width: 80%;
    }

    nav1 {
        position: static;
        margin-left: 0;
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

        nav1 .navlink {
            display: inline-block;
            border-radius: 15px 5px;
            margin: 15px 0;
            padding: 5px 15px 10px 15px;
            width: auto;
        }

            nav1 .navlink:hover {
                padding-left: 15px;
            }
}

/*If on mobile, maximize the space available by increasing width to 95%.*/
@media(orientation:portrait) {
    .wrapper {
        width: 95%;
    }
}
