@import url(https://fonts.googleapis.com/css?family=Lugrasimo);
@import url(https://fonts.googleapis.com/css?family=Charm);


/* we are catering to mobile layout first, 
    then using queries for desktop layouts */

body {
    background-color: #bdb5d5;
    background-image: url(pastelbluesparkles.webp);
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: local;
    font-family: Lugrasimo, serif;
}

p {
    line-height: 200%;
    text-indent: 10%;
}

h1, h2, h3 {
    text-align: center;
    font-family: Lugrasimo, serif;
    letter-spacing: 0.175em;
    word-spacing: 0.2em;
}

    h2::first-letter, h3::first-letter {
        font-size: 1.25em;
        font-weight: bold;
    }

h1 {
    font-size: 2.325em;
}

blockquote {
    font-style: italic;
    background: pink;
    padding: 5px 20px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
    border-radius: 1%;
    text-align: center;
}

nav {
    margin-top: 40px;
    padding: 24px;
    text-align: center;
    font-family: Lugrasimo, serif;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    background: #ff9999;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
    border-radius: 1%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.main {
    display: block;
    color: #743574;
    position: relative;
    background: linear-gradient(#DAE2F8,#FFE1E1);
    background-size: 900px auto;
    background-position: bottom center;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
    border-radius: 1%;
    padding: 1px 50px 50px 50px;
}



/**
 * Make body at least 100% height
 * You can also use a combination
 * of height: 100% in <html> and
 * min-height: 100% in <body>.
 */
.holy-grail {
    min-height: 100vh;
}

/**
 * Let's do a column distribution
 * (mobile first)
 * flex value is 1 1 auto to make
 * body skrinkable and extensible
 */
.holy-grail,
.holy-grail-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

/**
 * Content body item is made
 * extensible too.
 */
.holy-grail-content {
    flex: 1 1 auto;
}

/**
 * Put the first sidebar before content.
 * If you need sidebar to be before content
 * only in big screen put those 3 next lines
 * in @media block.
 */
.holy-grail-sidebar-1 {
    order: -1;
    display: none;
}

.header {
    display: block;
    background-image: url("rainbowspace.jpg");
    height: 450px;
    background-size: cover;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
    border-radius: 50%;
}

    .header h1 {
        font-size: 2.25em;
        padding-top: 150px;
        color: #743574;
    }

.link-1 {
    transition: 0.3s ease;
    background: #ff9999;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 4px solid #ffffff;
    padding: 20px 0;
    margin: 0 20px;
}

    .link-1:hover {
        border-bottom: 4px solid #ffffff;
        padding: 6px 0;
    }

.link-2 {
    transition: 0.3s ease;
    color: #4B0082;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 4px solid pink;
    padding: 20px 0;
    margin: 0 20px;
    font-weight: 100;
}

    .link-2:hover {
        border-bottom: 4px solid #4B0082;
        padding: 6px 0;
    }

.graphics {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    row-gap: 150px;
    max-width: 20%;
    justify-content: center;
}

#change-bg {
    width: 20%;
    height: 20%;
    position: absolute;
    top: 5px;
    left: 5px;
    color: #522552;
}

button {
    color: #0000a0;
    background-color: #ff80c0;
    font-size: 13px;
    border-radius: 10px;
    padding: 2px 10px;
    letter-spacing: 1px;
}

    button:hover {
        color: #2d63c8;
        background-color: #ffa6d2;
    }

.footer {
    display: block;
    font-size: 0.85em;
    background: #444e6f;
    line-height: 150%;
    background-color: #ffffcc;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
    border-radius: 3%;
}

    .footer a {
        color: #ffb0b0;
    }

/**
 * Let's introduce bigger screen
 */

@media (min-width: 768px) {
    /**
	 * Body items are now side by side
	 */
    .holy-grail-body {
        flex-direction: row;
    }

    /**
	 * Sidebars have a basic 260 width
	 * and are not really flexible anymore
	 */
    .hg-sidebar {
        flex: 0 0 260px;
        display: inline;
    }

    .graphics {
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        row-gap: 150px;
        max-width: 20%;
        justify-content: center;
    }

    nav {
        margin-top: 40px;
        padding: 24px;
        text-align: center;
        font-family: Lugrasimo, serif;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
        background: #ff9999;
        box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
        border-radius: 1%;
        display: block;
    }

    .link-1 {
        border-bottom: 4px solid #ff9999;
    }

    .header {
        display: block;
        background-image: url("unicorn.webp");
        height: 450px;
        background-size: cover;
        box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
        border-radius: 50%;
    }

        .header h1 {
            font-size: 3.25em;
            padding-top: 150px;
            color: #743574;
        }
}